<%- include("../../partials/header.ejs") %> 
    <div class="bradcam_area" style="background-image: url('https://marquesfernandes.com/wp-content/uploads/2020/08/ferenc-almasi-c8h0n7fSTqs-unsplash-1024x690.jpg');">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="bradcam_text text-center">
                        <h3>Serviços & Pacotes (Em breve)</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="service_area">
        <div class="container">
            <div class="row">
                <!--CARD
                <div class="col-xl-4 col-md-4">
                    <div class="single_service service_bg_1">
                        <div class="service_hover">
                            <img src="img/svg_icon/legal-paper.svg" alt="">
                            <h3>TITULO</h3>
                            <div class="hover_content">
                                <div class="hover_content_inner">
                                    <h4>TITULO</h4>
                                    <p>DESC</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
               CARD-->
            </div>
        </div>
    </div>
    <%- include("../../partials/footer.ejs") %> 