<%- include("../../partials/header.ejs") %> 
    <div class="bradcam_area breadcam_bg_2">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="bradcam_text text-center">
                        <h3>Services</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="service_area">
        <div class="container">
            <div class="row">
                <div class="col-xl-4 col-md-4">
                    <div class="single_service service_bg_1">
                        <div class="service_hover">
                            <img src="img/svg_icon/legal-paper.svg" alt="">
                            <h3>Invoicing</h3>
                            <div class="hover_content">
                                <div class="hover_content_inner">
                                    <h4>Invoicing</h4>
                                    <p>These cases are perfectly simple and easy to distinguish. In a free hour power.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-4">
                    <div class="single_service service_bg_2">
                        <div class="service_hover">
                            <img src="img/svg_icon/case.svg" alt="">
                            <h3>Business Growth</h3>
                            <div class="hover_content">
                                    <div class="hover_content_inner">
                                        <h4>Business Growth</h4>
                                        <p>These cases are perfectly simple and easy to distinguish. In a free hour power.</p>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-4">
                    <div class="single_service service_bg_3">
                        <div class="service_hover">
                            <img src="img/svg_icon/survey.svg" alt="">
                            <h3>Problem Solving</h3>
                            <div class="hover_content">
                                    <div class="hover_content_inner">
                                        <h4>Problem Solving</h4>
                                        <p>These cases are perfectly simple and easy to distinguish. In a free hour power.</p>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="financial_solution_area minus_top_padding">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-6">
                    <div class="financial_active owl-carousel">
                        <div class="single_finalcial_wrap">
                            <h3>Gives you the best Financial <br>
                                    solution for business</h3>
                                    <p>These cases are perfectly simple and easy to distinguish. In a free hour, when our power of choice is untrammelled and when nothing prevents our being able to do what we like best.</p>
                        </div>
                        <div class="single_finalcial_wrap">
                            <h3>Gives you the best Financial <br>
                                    solution for business</h3>
                                    <p>These cases are perfectly simple and easy to distinguish. In a free hour, when our power of choice is untrammelled and when nothing prevents our being able to do what we like best.</p>
                        </div>
                        <div class="single_finalcial_wrap">
                            <h3>Gives you the best Financial <br>
                                    solution for business</h3>
                                    <p>These cases are perfectly simple and easy to distinguish. In a free hour, when our power of choice is untrammelled and when nothing prevents our being able to do what we like best.</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6">
                    <div class="finance_thumb">
                        <img src="img/about/finance.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="testmonial_area">
        <div class="container">
            <div class="row">
                <div class="col-xl-10 offset-xl-1">
                        <div class="testmonial_active2 owl-carousel">
                            <div  class="single_slider text-center" data-dot='<img src="img/testmonial/1.png" alt="#" ' >
                                    <p>These cases are perfectly simple and easy to distinguish. In a free hour, when our power of choice is untrammelled and when nothing prevents our being able.</p>
                                    <div class="author_name text-center">
                                        <h4>Robert Jonson</h4>
                                        <span> Business Owner</span>
                                    </div>
                                </div>
                            <div  class="single_slider text-center" data-dot='<img src="img/testmonial/1.png" alt="#" ' >
                                    <p>These cases are perfectly simple and easy to distinguish. In a free hour, when our power of choice is untrammelled and when nothing prevents our being able.</p>
                                    <div class="author_name text-center">
                                        <h4>Robert Jonson</h4>
                                        <span> Business Owner</span>
                                    </div>
                                </div>
                            <div  class="single_slider text-center" data-dot='<img src="img/testmonial/1.png" alt="#" ' >
                                    <p>These cases are perfectly simple and easy to distinguish. In a free hour, when our power of choice is untrammelled and when nothing prevents our being able.</p>
                                    <div class="author_name text-center">
                                        <h4>Robert Jonson</h4>
                                        <span> Business Owner</span>
                                    </div>
                                </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
    <div class="project_area">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="project_info text-center">
                        <h3>Do you Have any Project?</h3>
                        <p>Nam libero tempore, cum soluta nobis est eligendi optio <br>
                                cumque nihil impedit quo minus.</p>
                        <a href="#" class="boxed-btn3-white">Contact Us</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include("../../partials/footer.ejs") %> 