<%- include("../../partials/header.ejs") %> 
    <div class="bradcam_area bradcam_bg_1">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="bradcam_text text-center">
                        <h3>Sobre nós (Em breve)</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
<%- include("../../partials/footer.ejs") %> 