<%- include("../../partials/header.ejs") %> 
    <div class="bradcam_area bradcam_bg_1">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="bradcam_text text-center">
                        <h3>About Us</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="about_wrap_area about_wrap_area2">
        <div class="container">
            <div class="row">
                <div class="col-xl-4 col-md-6 col-lg-4">
                    <div class="single_service_wrap text-center">
                        <img src="img/svg_icon/controls.png" alt="">
                        <h3>Unlimited Control</h3>
                        <p>These cases are perfectly simple and easy to </p>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 col-lg-4">
                    <div class="single_service_wrap text-center">
                        <img src="img/svg_icon/bar-chart.png" alt="">
                        <h3>Rapidly Growth</h3>
                        <p>These cases are perfectly simple and easy to </p>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 col-lg-4">
                    <div class="single_service_wrap text-center">
                        <img src="img/svg_icon/puzzle.png" alt="">
                        <h3>Problem Solving</h3>
                        <p>These cases are perfectly simple and easy to </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
<div class="about_area">
    <div class="container-fluid p-0">
        <div class="row no-gutters align-items-center">
            <div class="col-xl-6 col-lg-6">
                <div class="about_image">
                    <img src="img/about/about.png" alt="">
                </div>
            </div>
            <div class="col-xl-6 col-lg-6">
                <div class="about_info">
                    <h3>The Largest Business Expert</h3>
                    <p>These cases are perfectly simple and easy to distinguish. In a free hour, <br> when our power of choice is untrammelled and when nothing prevents <br> our being able to do what we like best.</p>
                    <ul>
                        <li> Apartments frequently or motionless. </li>
                        <li> Duis aute irure dolor in reprehenderit in voluptate. </li>
                        <li> Voluptatem quia voluptas sit aspernatur.</li>
                    </ul>

                    <div class="about_btn">
                        <a class="boxed-btn3" href="#">About Us</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    <div class="counter_area">
        <div class="container">
            <div class="row">
                <div class="col-xl-4 col-md-4">
                    <div class="single_counter text-center">
                        <h3> <span class="counter" >520</span> <span>+</span> </h3>
                        <span>Total Projects</span>
                    </div>
                </div>
                <div class="col-xl-4 col-md-4">
                    <div class="single_counter text-center">
                        <h3> <span class="counter" >244</span>  </h3>
                        <span>On Going Projects</span>
                    </div>
                </div>
                <div class="col-xl-4 col-md-4">
                    <div class="single_counter text-center">
                        <h3> <span class="counter" >95</span> <span>%</span> </h3>
                        <span>Job Success</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="financial_solution_area">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-6">
                    <div class="financial_active owl-carousel">
                        <div class="single_finalcial_wrap">
                            <h3>Gives you the best Financial <br>
                                    solution for business</h3>
                                    <p>These cases are perfectly simple and easy to distinguish. In a free hour, when our power of choice is untrammelled and when nothing prevents our being able to do what we like best.</p>
                        </div>
                        <div class="single_finalcial_wrap">
                            <h3>Gives you the best Financial <br>
                                    solution for business</h3>
                                    <p>These cases are perfectly simple and easy to distinguish. In a free hour, when our power of choice is untrammelled and when nothing prevents our being able to do what we like best.</p>
                        </div>
                        <div class="single_finalcial_wrap">
                            <h3>Gives you the best Financial <br>
                                    solution for business</h3>
                                    <p>These cases are perfectly simple and easy to distinguish. In a free hour, when our power of choice is untrammelled and when nothing prevents our being able to do what we like best.</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6">
                    <div class="finance_thumb">
                        <img src="img/about/finance.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="testmonial_area">
        <div class="container">
            <div class="row">
                <div class="col-xl-10 offset-xl-1">
                        <div class="testmonial_active2 owl-carousel">
                            <div  class="single_slider text-center" data-dot='<img src="img/testmonial/1.png" alt="#" ' >
                                    <p>These cases are perfectly simple and easy to distinguish. In a free hour, when our power of choice is untrammelled and when nothing prevents our being able.</p>
                                    <div class="author_name text-center">
                                        <h4>Robert Jonson</h4>
                                        <span> Business Owner</span>
                                    </div>
                                </div>
                            <div  class="single_slider text-center" data-dot='<img src="img/testmonial/1.png" alt="#" ' >
                                    <p>These cases are perfectly simple and easy to distinguish. In a free hour, when our power of choice is untrammelled and when nothing prevents our being able.</p>
                                    <div class="author_name text-center">
                                        <h4>Robert Jonson</h4>
                                        <span> Business Owner</span>
                                    </div>
                                </div>
                            <div  class="single_slider text-center" data-dot='<img src="img/testmonial/1.png" alt="#" ' >
                                    <p>These cases are perfectly simple and easy to distinguish. In a free hour, when our power of choice is untrammelled and when nothing prevents our being able.</p>
                                    <div class="author_name text-center">
                                        <h4>Robert Jonson</h4>
                                        <span> Business Owner</span>
                                    </div>
                                </div>
                        </div>
                        
                </div>
            </div>
        </div>
    </div>
    <div class="project_area">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="project_info text-center">
                        <h3>Do you Have any Project?</h3>
                        <p>Nam libero tempore, cum soluta nobis est eligendi optio <br>
                                cumque nihil impedit quo minus.</p>
                        <a href="#" class="boxed-btn3-white">Contact Us</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
<%- include("../../partials/footer.ejs") %> 