<%- include("../../partials/header.ejs") %> 
    <div class="bradcam_area" style="background-image: url('https://marquesfernandes.com/wp-content/uploads/2020/08/ferenc-almasi-c8h0n7fSTqs-unsplash-1024x690.jpg');">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="bradcam_text text-center">
                        <h3>Sobre nós (Em breve)</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
<%- include("../../partials/footer.ejs") %> 