<%- include("../../partials/header.ejs") %>
    <div class="bradcam_area"
        style="background-image: url('https://marquesfernandes.com/wp-content/uploads/2020/08/ferenc-almasi-c8h0n7fSTqs-unsplash-1024x690.jpg');">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="bradcam_text text-center">
                        <h3>
                            Termos de uso e serviço
                        </h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container" style="padding: 50px;">
        <div class="row">
            <div class="col-12">
                <h1>
                    Termos e condições gerais de uso e/ou de venda
                </h1>
                <h6>
                    TERMOS E CONDIÇÕES GERAIS DE USO E DE COMPRA E VENDA DO SITE "Agência Gênios"
                </h6>
                <p>
                    Estes termos e condições (daqui em diante referidos apenas como "Termos") se aplicam à utilização de
                    Nosso Site, "Agência Gênios", por você.
                </p>
                <p>
                    Nosso Site é mantido pela pessoa física <strong>Raul Rodrigues de Moraes</strong> ("Raul Rodrigues"),
                     e-mail: contato@devluar.com.
                </p>
                <b>Estes Termos se aplicam a todos aqueles que utilizarem Nosso Site. A observância das regras aqui
                    previstas é obrigatória.</b>
                <p>
                    Aqueles que não compreenderem ou que não aceitarem as normas previstas nestes Termos devem parar
                    de utilizar Nosso Site imediatamente.
                </p>
                <h2>
                    1. DEFINIÇÕES
                </h2>
                <p>
                    "Nós", "Nosso", "Equipe" ou "Nossos" refere-se a Gênios ("Agência Gênios"), 
                    que
                    mantém e é responsável pelo Site.
                </p>
                <p>
                    "Site" é o site que pode ser acessado a partir do endereço "https://agenciagenios.com", incluindo todas
                    as
                    suas páginas e recursos.
                </p>
                <p>
                    "Código de Defesa do Consumidor" ou "CDC" é Lei Federal n. 8.078, de 11 de setembro de 1990.
                </p>
                <p>
                    "Partes" se refere tanto ao Usuário quanto a Nós, indistintamente.
                </p>
                <p>
                    "Produtos" se refere aos seguintes produtos que são vendidos diretamente por Nós por meio de Nosso
                    Site e que podem ser adquiridos pelos Usuários:
                </p>
                <ul>
                    <li>Personalizados;</li>
                    <li>Arquivos vetoriais;</li>
                    <li>Arquivos de Imagem e Vídeo;</li>
                    <li>Contratos de Serviços;</li>
                    <li>Apps e Sites;</li>
                </ul>
                <p>
                    "Serviços" se refere aos seguintes serviços prestados diretamente por Nós por meio de Nosso Site:
                </p>
                <ul>
                    <li>Orçamento e Proposta;</li>
                    <li>Construção de Artes Gráficas;</li>
                    <li>Construção de Sites e Apps;</li>
                    <li>Gestão de Redes Sociais</li>
                </ul>
                <p>
                    "Nosso Conteúdo" se refere a toda e qualquer informação ou dado publicado ou disponibilizado
                    diretamente por Nós no Site, incluindo, dentre outros possíveis, textos, imagens, vídeos e áudios.
                </p>
                <p>
                    "Usuário" é a pessoa que navega ou que de qualquer outra forma utiliza Nosso Site.
                </p>
                <h2>
                    2. RESTRIÇÕES DE IDADE
                </h2>
                <p>
                    O Site só deve ser utilizado por pessoas maiores de 18 anos.
                </p>
                <p>
                    Os menores de 18 anos não emancipados somente poderão utilizar Nosso Site se estiverem devidamente
                    assistidas ou representadas por seus pais ou representantes legais.
                </p>
                <h2>
                    3. DA NAVEGAÇÃO
                </h2>
                <p>
                    Nos comprometemos a utilizar todas as soluções técnicas à nossa disposição para que o Site possa ser
                    acessado 24 (vinte e quatro) horas por dia, todos os dias. Entretanto, Nós poderemos, a qualquer
                    momento, interromper, limitar ou suspender o acesso ao Site ou a algumas de suas páginas ou
                    recursos,
                    a fim de realizar atualizações, modificações, correções ou qualquer outra ação que consideremos
                    necessária para garantir seu bom funcionamento.
                </p>
                <h2>
                    4. DA GESTÃO DO SITE
                </h2>
                <p>
                    Para a boa gestão, Nós poderemos, a qualquer momento:
                </p>
                <ul>
                    <li> suspender, interromper ou limitar o acesso a todo ou a parte do Site a uma categoria específica
                        ou
                        a todos os Usuários;
                    </li>
                    <li>remover toda informação que possa perturbar o funcionamento do Site ou que esteja em conflito
                        com normas de Direito brasileiro ou de Direito internacional;
                    </li>
                    <li>suspender o Site, a fim de realizar atualizações e modificações.</li>
                </ul>
                <h2>
                    5. NOSSAS RESPONSABILIDADES
                </h2>
                <p>
                    Embora adotemos tudo o que está ao Nosso alcance para manter Nosso Site em pleno e em correto
                    funcionamento, Nós nos responsabilizaremos pelos defeitos ou vícios eventualmente encontrados no
                    programa de computador que compõe Nosso Site e que tenham sido por Nós causados, desde que haja
                    comprovado dano.
                </p>
                <p>
                    Defeitos ou problemas surgidos no âmbito ou em decorrência dos sistemas ou equipamentos utilizados
                    pelo Usuário para acessar e utilizar Nosso Site não serão de Nossa responsabilidade.
                </p>
                <p>
                    Nós não nos responsabilizamos pelos usos que os Usuários fizerem de Nosso Site, cabendo-lhes
                    responder pessoal e exclusivamente por suas próprias ações.
                </p>
                <p>
                    Nós não Nos responsabilizaremos por eventuais danos decorrentes de caso fortuito, força maior ou por
                    aqueles que forem decorrentes das ações de terceiros.
                </p>
                <p>
                    Nós somos responsáveis pelos Nossos Produtos e pelos Nossos Serviços comercializados no âmbito do
                    Site e nos comprometemos a entregá-los ou a prestá-los, conforme for o caso, de acordo com as
                    condições estabelecidas durante a contratação. Não Nos responsabilizamos, porém, em situações que
                    fujam ao nosso controle, como nas situações em que o Usuário contratante nos repassar informações
                    falsas ou incorretas ou em que houver caso fortuito ou força maior que prejudique ou que impeça que
                    cumpramos nossos compromissos a tempo e modo.
                </p>
                <h2>
                    6. USO DO SITE
                </h2>
                <p>
                    O Usuário deverá utilizar as funcionalidades do Site para finalidades que não contrariem a lei, a
                    moral ou
                    os bons costumes. Em específico, deverá se limitar a utilizá-las em conformidade com os objetivos
                    para
                    as quais foram criadas.
                </p>
                <p>
                    O Usuário não poderá utilizar crawlers, robôs ou quaisquer programas de computador, algoritmos,
                    equipamentos ou metodologias automatizados para acessar, copiar, ler, monitorar, navegar, preencher
                    formulários ou publicar conteúdo no Site.
                </p>
                <p>
                    O Usuário não poderá utilizar quaisquer meios ou ferramentas automatizados ou manuais para acessar
                    qualquer conteúdo ou informação que não lhe tenha sido intencionalmente disponibilizada por Nós,
                    incluindo as informações constantes de seções de Nosso Site e as que estejam armazenadas ou que
                    trafeguem no âmbito da infraestrutura de Tecnologia da Informação utilizada por Nós, que inclui
                    equipamentos, redes e servidores.
                </p>
                <p>
                    O Usuário não poderá violar nem testar as vulnerabilidades dos mecanismos de segurança do Site ou da
                    infraestrutura de Tecnologia da Informação utilizada por Nós.
                </p>
                <p>
                    O Usuário não poderá utilizar quaisquer dos conteúdos ou das informações disponibilizadas em Nosso
                    Site para fins de identificar outros Usuários ou outras pessoas, a menos que o conteúdo ou
                    informação
                    seja licitamente divulgado com este objetivo.
                </p>
                <p>
                    O Usuário não poderá sobrecarregar a infraestrutura de Tecnologia da Informação que mantém o Site
                    com um número excessivo ou desarrazoado de requisições.
                </p>
                <p>
                    O Usuário não poderá esconder sua identidade nem a origem de sua conexão, nem poderá se passar por
                    outra pessoa. Neste sentido, além de outras condutas possíveis, o Usuário não poderá utilizar
                    quaisquer
                    ferramentas ou mecanismos para manipular ou para mascarar a origem de qualquer mensagem enviada
                    a Nós ou à Nossa infraestrutura de Tecnologia da Informação por meio de Nosso Site ou de qualquer de
                    suas funcionalidades.
                </p>
                <p>
                    O Usuário tem a responsabilidade de garantir a segurança dos equipamentos eletrônicos e sistemas que
                    utilizar para acessar o Site.
                </p>
                <h2>
                    7. LINKS EXTERNOS
                </h2>
                <p>
                    Nosso Site pode conter links externos que redirecionam o Usuário para outras páginas da internet
                    sobre
                    as quais Nós não exercemos controle.
                </p>
                <p>
                    Apesar das verificações prévias e regulares que realizamos, Nos isentamos de qualquer
                    responsabilidade
                    sobre o conteúdo encontrado nas páginas e aplicações que possam ser acessadas a partir destes links.
                </p>
                <h2>
                    8. DOS DIREITOS DE PROPRIEDADE INTELECTUAL SOBRE PROGRAMAS DE COMPUTADOR E SOBRE
                    NOSSO CONTEÚDO
                </h2>
                <p>
                    Os programas de computador que compõem o Site e o Nosso Conteúdo disponibilizado no Site são de
                    Nossa propriedade, a menos que façamos menção expressa em sentido diverso.
                </p>
                <p>
                    Nossos programas de computador e o Nosso Conteúdo que forem protegidos por direitos autorais não
                    poderão ser, integral ou parcialmente, copiados, reproduzidos, representados, adaptados ou de
                    qualquer
                    forma alterados, por qualquer meio e para qualquer finalidade, sem Nossa autorização prévia,
                    expressa e
                    por escrito. Em caso de violações a Nossos direitos de propriedade intelectual, Nós nos resguardamos
                    o
                    direito de adotar todas as providências judiciais e extrajudiciais cabíveis.
                </p>
                <p>
                    O acesso ao Site não gera para o Usuário qualquer direito de propriedade intelectual relativo a
                    elementos
                    do Site.
                </p>
                <h2>
                    9. DOS PRODUTOS E DOS SERVIÇOS
                </h2>
                <p>
                    Por intermédio do Site, Nós fornecemos ao cliente um catálogo ou uma loja online apresentando com
                    exatidão os Produtos e Serviços vendidos. Os Produtos e Serviços estão descritos e apresentados com
                    o
                    maior grau de precisão possível, acompanhandos de informações corretas, claras, precisas, ostensivas
                    e
                    em língua portuguesa sobre suas características, qualidades, quantidade, composição, preço,
                    garantia, prazos de validade e origem, entre outros dados, bem como sobre os eventuais riscos que
                    apresentam à
                    saúde e segurança do Usuário que os adquirir.
                </p>
                <p>
                    Os preços e as taxas referentes à venda dos Produtos e Serviços estão precisadas no catálogo ou na
                    loja
                    online.
                </p>
                <p>
                    Antes de finalizar a compra de determinado Produto ou Serviço, o Usuário deverá se informar sobre as
                    suas especificações e sobre a sua destinação. Em se tratando de Produto ou Serviço adquirido no
                    âmbito
                    de ofertas, o Usuário deverá também observar suas condições de aplicação.
                </p>
                <p>
                    As ofertas serão disponibilizadas no Site de acordo com a Nossa conveniência. Elas poderão ser
                    concluídas antes do prazo previsto, em caso de indisponibilidade da equipe.
                </p>
                <h2>
                    10. DOS PREÇOS DOS PRODUTOS E DOS SERVIÇOS
                </h2>
                <p>
                    O vendedor se reserva o direito de modificar os preços dos Produtos e Serviços a qualquer momento,
                    publicando-os no Site.
                </p>
                <p>
                    Serão aplicadas as tarifas em vigor no momento do pedido, sob reserva de disponibilidade de Produtos
                    e
                    Serviços nesta data.
                </p>
                <p>
                    Os preços serão indicados em reais e não incluirão as taxas de entrega, as quais virão especificadas
                    à
                    parte e serão informadas antes da realização do pedido.
                </p>
                <p>
                    O montante total do pedido, incluindo todas as taxas, será indicado antes da validação final do
                    pedido.
                </p>
                <h2>
                    11. DO PAGAMENTO
                </h2>
                <p>
                    O pagamento do pedido deverá ser realizado à vista ou à prazo, através dos seguintes meios:
                </p>
                <ul>
                    <li>À vista por transferência;</li>
                    <li>Cartão de Crédito;</li>
                </ul>
                <h2>
                    12. DA ENTREGA DOS PRODUTOS
                </h2>
                <p>
                    O prazo de entrega dos Produtos adquiridos no Site será informado no momento do pedido, em dias
                    úteis. O tempo para a entrega é calculado conforme a disponibilidade da equipe e complexidade do projeto.
                </p>
                <p>
                    Após a finalização do pedido, o cliente pode optar por onde receber os arquivos. Os mesmos são enviados 
                    por meio online.
                </p>
                <p>
                    Nós não nos responsabilizamos em caso do cliente perder o arquivos, se a empresa ainda 
                    tiver, os arquivos serão re-enviados com aplicação de uma taxa mínima.
                </p>
                <h2>
                    13. DA PRESTAÇÃO DOS SERVIÇOS
                </h2>
                <p>
                    Os Serviços serão prestados por Nós em conformidade com as especificações, condições e demais
                    informações disponíveis em Nosso Site.
                </p>
                <h2>
                    14. DA PROTEÇÃO DE DADOS PESSOAIS
                </h2>
                <p>
                    Nós tratamos os dados pessoais dos Usuários em conformidade com a Lei Federal n. 13.709/2018 (Lei
                    Geral de Proteção de Dados Pessoais) e demais normas correlatas que Nos são aplicáveis. Mais
                    informações sobre este assunto poderão ser consultadas em nossa Política de Privacidade, que pode
                    ser
                    acessada a partir do link: https://agenciagenios.com/pop.
                </p>
                <p>
                    Na referida Política, identificamos os dados pessoais que tratamos e prestamos informações sobre
                    como, por qual motivo e com qual fundamento legal o fazemos, bem como sobre a forma pela qual os
                    Usuários podem exercer seus direitos relacionados à proteção de seus dados pessoais e sobre como
                    podem entrar em contato com nosso Encarregado de Proteção de Dados Pessoais.
                </p>
                <p>
                    Os pedidos de alteração, retificação ou exclusão de dados pessoais Nos devem ser direcionados em
                    conformidade com o previsto naquela Política.
                </p>
                <h2>
                    15. DO SERVIÇO DE ATENDIMENTO AO USUÁRIO
                </h2>
                <p>
                    Em caso de dúvidas, sugestões ou problemas com a utilização do Site, o Usuário poderá contatar
                    diretamente Nosso serviço de atendimento, através do endereço de e-mail: contato@agenciagenios.com ou do
                    telefone: +55 68 9.9222-8746. Estes serviços de atendimento ao Usuário estarão disponíveis nos
                    seguintes
                    dias e horários:
                </p>
                <ul>
                    <li>Segunda - Sexta: 08:00 - 18:00</li>
                    <li>Sábado e feriados: 08:00 - 11:00</li>
                    <li>Domingo: Fechado</li>
                </ul>
                <p>
                    O Usuário poderá, ainda, optar por enviar correspondência ao endereço da sede do Site, informado no
                    início deste documento.
                </p>
                <h2>
                    16. DAS SANÇÕES
                </h2>
                <p>
                    Sem prejuízo das demais medidas legais cabíveis, Nós poderemos, a qualquer momento, advertir,
                    suspender ou impedir o acesso do Usuário:
                </p>
                <ul>
                    <li>que descumprir quaisquer dos dispositivos contidos no presente instrumento;</li>
                    <li>que descumprir os seus deveres de Usuário;</li>
                    <li>que praticar atos fraudulentos, ilegais ou imorais;</li>
                    <li>cujo comportamento constitua ou possa vir a importar ofensa ou dano a terceiro ou ao próprio
                        Site.</li>
                </ul>
                <h2>
                    17. DAS ALTERAÇÕES
                </h2>
                <p>
                    A presente versão dos termos e condições gerais de uso foi atualizada pela última vez em: 22/03/2022
                </p>
                <p>
                    Nós nos reservamos o direito de modificar, a qualquer momento e sem qualquer aviso prévio, o site e
                    os
                    serviços, bem como as presentes normas, especialmente para adaptá-las às evoluções do Site, seja
                    pela
                    disponibilização de novas funcionalidades, seja pela supressão ou modificação daquelas já
                    existentes.
                </p>
                <p>
                    Dessa forma, convidamos o Usuário a consultar periodicamente esta página para verificar as
                    atualizações.
                </p>
                <i>Seja bem-vindo(a)!</i>
                <i>A equipe do site <strong>Agência Gênios</strong> lhe deseja uma excelente navegação!</i>
            </div>
        </div>

    </div>

    <%- include("../../partials/footer.ejs") %>